body {

  margin: 0;

  background: #111;

  color: white;

  font-family: Arial, sans-serif;

}

.player {

  max-width: 420px;

  margin: auto;

  padding: 20px;

  text-align: center;

}

.logo {

  color: #1db954;

  margin-bottom: 20px;

}

#cover {

  width: 100%;

  border-radius: 20px;

  margin-bottom: 20px;

  box-shadow: 0 0 20px rgba(0,0,0,0.5);

}

.controls {

  display: flex;

  justify-content: center;

  gap: 20px;

  margin: 25px 0;

}

button {

  width: 65px;

  height: 65px;

  border-radius: 50%;

  border: none;

  background: #1db954;

  color: white;

  font-size: 24px;

}

button:active {

  transform: scale(0.95);

}

#playlist {

  list-style: none;

  padding: 0;

  margin-top: 20px;

}

#playlist li {

  padding: 15px;

  border-bottom: 1px solid #333;

  cursor: pointer;

  transition: 0.2s;

}

#playlist li:hover {

  background: #222;

}

#status {

  color: #aaa;

  margin-top: 10px;

  min-height: 20px;

}

#search {

  width: 100%;

  padding: 15px;

  margin: 20px 0;

  border: none;

  border-radius: 12px;

  background: #222;

  color: white;

  font-size: 16px;

  box-sizing: border-box;

}

#search::placeholder {

  color: #999;

}
